<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /PlaceRadar/
    RewriteCond $1 !^(index\.php|images|kit|.*\.css|.*\.js|robots\.txt|$)
    RewriteRule ^(.*)$ /PlaceRadar/index.php/$1 [L,QSA]
</IfModule>